.Card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  max-width: 400px;
  border-radius: 35px;
  margin: 40px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  text-decoration: none;
}

.Card:hover {
  transform: translateY(-5px) scale(1.05);
  opacity: 1;
  box-shadow: 0 0 10px #65626b;
  transition-duration: 0.5s;
}

.Card h1 {
  color: white;
  font-size: 27px;
  font-weight: 400;
  text-align: left;
  margin: 20px 0px 10px 20px;
}

.Card p {
  color: white;
  font-size: 20px;
  text-align: left;
  margin: auto;
}

.titleSymbol {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10px;
}
.eventSymbol {
  color: white;
  padding-top: 15px;
  font-size: 30px;
  margin: auto;
}

.eventInfo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 20px;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: white;
  margin-left: 20px;
}
.cal {
  padding: 10px 11px;
}

.eventInfo p {
  margin-left: -5px;
  text-align: left;
}
