@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-size: 20px;
  background: #f2f6ff;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  color: #2a1a4e;
  margin-top: 30px;
  margin-left: 40px;
}

p {
  color: #2a1a4e;
}

/* For Fun Appear */
@keyframes SlideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes SlideLeftAnimation {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.content {
  margin-left: 300px;
  padding: 10px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.Main {
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  background: url("../images/Background1.png");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  max-height: 95vh;
  min-height: 900px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  grid-column: span 2;
}

.TextGroup {
  opacity: 0;
  text-align: left;
  margin: 40px;
  animation: SlideUpAnimation 3s 0.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  height: 400px;
}
.TextGroup h1 {
  font-size: 60px;
  color: white;
  margin-left: 0;
}

.TextGroup p {
  color: white;
  padding-bottom: 30px;
}
.rightArrow {
  color: #2a1a4e;
  padding-right: 10px;
  font-size: 20px;
}
.getInvolvedButton {
  display: inline-block;
  background-color: white;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  color: #2a1a4e;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.getInvolvedButton:hover {
  transition-duration: 0.5s;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 10px #d9d9d9;
}

.Events {
  margin: 20px 20px;
  background-color: white;
  border-radius: 35px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  max-height: 95vh;
  min-height: 900px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  overflow: scroll;
}
.FBEvents {
  margin: auto;
  border-radius: 35px;
  border: none;
  max-height: 75vh;
}

.Events p {
  margin-left: 30px;
}

.CardContainer:nth-child(2) {
  opacity: 0;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
.CardContainer:nth-child(3) {
  opacity: 0;
  animation: SlideUpAnimation 3s 0.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
.CardContainer:nth-child(4) {
  opacity: 0;
  animation: SlideUpAnimation 3s 0.6s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
.CardContainer:nth-child(5) {
  opacity: 0;
  animation: SlideUpAnimation 3s 0.8s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Photos {
  margin: auto;
  opacity: 0;
  animation: SlideUpAnimation 3s 0.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
.Photos h1 {
  font-weight: 400;
  color: #2a1a4e;
  padding-top: 50px;
  margin-left: 30px;
}
.Photos .PhotoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-bottom: 50px;
}
.Photos img {
  margin: auto;
  max-width: 325px;
  border-radius: 20px;
}

.content2 {
  margin-left: 300px;
  padding: 0px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about {
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
.aboutText p1 {
  color: #2a1a4e;
  font-weight: 600;
}
.aboutText {
  color: #2a1a4e;
  margin: 0 40px 40px 40px;
}
.contact {
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
.contactText {
  color: #2a1a4e;
  margin: auto;
  padding: 20px 40px;
}
.verticalStack {
  display: grid;
  grid-template-rows: auto;
}
.generalRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 25px 20px;
  text-decoration: none;
}

.generalButton {
  width: 130px;
  height: 30px;
  padding: 10px 5px;
  background-color: #0059da;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.generalButton:hover {
  transition-duration: 0.5s;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 10px #0059da;
}

.generalRow p1 {
  margin-left: 20px;
  padding: 5px;
  font-weight: 400;
  color: #2a1a4e;
}

.projectsRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 25px 20px;
  text-decoration: none;
}

.projectsButton {
  width: 130px;
  height: 30px;
  padding: 10px 5px;
  background-color: #ffb100;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
}

.projectsButton:hover {
  transition-duration: 0.5s;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 10px #ffb100;
}

.projectsRow p1 {
  margin-left: 20px;
  padding: 5px;
  font-weight: 400;
  color: #2a1a4e;
}

.outreachRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 25px 20px;
  text-decoration: none;
}

.outreachButton {
  width: 130px;
  height: 30px;
  padding: 10px 5px;
  background-color: #00cdda;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
}

.outreachButton:hover {
  transition-duration: 0.5s;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 10px #00cdda;
}

.outreachRow p1 {
  margin-left: 20px;
  padding: 5px;
  font-weight: 400;
  color: #2a1a4e;
}

.technicalRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 25px 20px;
  text-decoration: none;
}

.technicalButton {
  width: 130px;
  height: 30px;
  padding: 10px 5px;
  background-color: #ff5051;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
}

.technicalButton:hover {
  transition-duration: 0.5s;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 10px #ff5051;
}

.technicalRow p1 {
  margin-left: 20px;
  padding: 5px;
  font-weight: 400;
  color: #2a1a4e;
}

.content3 {
  margin-left: 300px;
  padding: 0px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.getInvolved {
  margin: 20px 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
.getInvolvedText {
  color: #2a1a4e;
}

.involvementStack {
  display: grid;
  grid-template-rows: repeat(auto-fit);
}

.involvementButton {
  margin: auto;
  padding: 0px 0 40px 0;
}

.ProjectSpace {
  margin: 20px 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.ProjectSpaceText {
  color: #2a1a4e;
  display: grid;
  grid-template-rows: repeat(auto-fit);
  margin-left: 40px;
}
.ProjectSpaceText p1 {
  padding: 20px;
}
.ProjectSpaceText p2 {
  font-weight: 800;
  font-size: 25px;
  padding: 20px;
}

.DiscordButton {
  padding: 20px;
}

.ProjectSpaceContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.ProjectSpacePhoto {
  margin: auto;
  padding: 20px;
  height: 350px;
  width: 350px;
  border-radius: 40px;
}

.content4 {
  margin-left: 300px;
  padding: 0px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.Sponsorship {
  margin: 20px 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Sponsorship h1 {
  margin-bottom: 0;
}
.SponsorText {
  padding: 40px;
  color: #2a1a4e;
  display: grid;
  grid-template-rows: repeat(auto-fit);
}

.sponsorButton {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.OurSponsors {
  margin: 20px 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  animation: SlideLeftAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
.SponsorTitleGroup {
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.SponsorHeart {
  font-size: 40px;
  color: #ff5051;
  padding: 40px;
}
.SponsorImage {
  width: 100%;
  height: auto;
  margin: auto;
}

.content5 {
  margin-left: 300px;
  padding: 0px 16px;
}

.Projects {
  margin: 20px 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
.Projects h1 {
  padding-top: 40px;
}

.QPandAP {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projectText {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  padding: 0px 40px 40px 40px;
  max-width: 400px;
}

.QPandAP img {
  max-width: 500px;
  border-radius: 35px;
  padding: 10px;
}

.projectText p1 {
  padding: 10px;
}

.projectText p2 {
  padding: 10px;
  font-weight: 400;
}

.projectButton {
  padding-top: 10px;
}

.content6 {
  margin-left: 300px;
  padding: 0px 16px;
}

.ourTeam {
  margin: 20px 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
.ourTeam h1 {
  padding-top: 40px;
}

.executiveGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-items: center;
  justify-content: center;
  margin: auto;
}

@media only screen and (max-width: 1550px) {
  .Main {
    grid-column: span 1;
  }
  .TextGroup {
    margin: 30px;
  }
  .TextGroup h1 {
    font-size: 40px;
    margin-left: 0;
  }
  .TextGroup p {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .getInvolvedButton {
    padding: 7px 12px;
    border-radius: 20px;
    font-size: 18px;
  }
  .QPandAP img {
    width: 400px;
  }
  .projectText {
    margin: auto;
  }
  .Photos {
  }
  .photo2 {
    display: none;
  }
  .contactText {
    margin: auto;
  }
}

@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }
  .content {
    margin: auto;
  }
  .content2 {
    margin: auto;
  }
  .content3 {
    margin-left: auto;
  }
  .content4 {
    margin-left: auto;
  }
  .content5 {
    margin-left: auto;
  }
  .content6 {
    margin-left: auto;
  }
  .photo2 {
    display: none;
  }
  .QPandAP img {
    width: 300px;
  }
  .contactText {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .sidebar {
    display: none;
  }
  .content {
    margin: auto;
  }
  .Main {
    margin: 7px 5px;
  }
  .Events {
    margin: 7px 5px;
  }
  .Projects {
    margin: 7px 5px;
  }
  .ourTeam {
    margin: 7px 5px;
  }
  .about {
    margin: 7px 5px;
  }
  .contact {
    margin: 7px 5px;
  }
  .getInvolved {
    margin: 7px 5px;
  }
  .ProjectSpace {
    margin: 7px 5px;
  }
  .Sponsorship {
    margin: 7px 5px;
  }
  .OurSponsors {
    margin: 7px 5px;
  }
  .content2 {
    margin: auto;
  }
  .content3 {
    margin-left: 0;
  }
  .content4 {
    margin-left: 0;
  }
  .content5 {
    margin-left: 0;
  }
  .content6 {
    margin-left: 0;
  }
  .TextGroup h1 {
    font-size: 30px;
  }
  .TextGroup p {
    font-size: 18px;
  }
  h1 {
    font-size: 22px;
  }
  p,
  p1 {
    font-size: 18px;
  }
  .Photos img {
    max-width: 250px;
  }
  .photo2 {
    display: none;
  }
  .ProjectSpaceText {
    margin-left: 20px;
  }
  .ProjectSpacePhoto {
    max-width: 250px;
    height: auto;
  }
  .generalRow {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .generalButton {
    margin: auto;
  }
  .generalRow p1 {
    display: none;
  }
  .projectsRow {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .projectsButton {
    margin: auto;
  }
  .projectsRow p1 {
    display: none;
  }
  .outreachRow {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .outreachButton {
    margin: auto;
  }
  .outreachRow p1 {
    display: none;
  }
  .technicalRow {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .technicalButton {
    margin: auto;
  }
  .technicalRow p1 {
    display: none;
  }
  .QPandAP img {
    max-width: 250px;
    margin: auto;
  }
}

/* Fancy animated button */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.learn-more {
  width: 14rem;
  height: auto;
}
.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 2rem;
  color: #282936;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  padding-left: 30px;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon .arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
