.QPWrapper {
  margin-left: 300px;
}

.QPMain {
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  animation: SlideUpAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}
.QPPageText {
  padding: 20px;
}
